@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--white: #FFFEFFff;
--dust-grey: #D1D0CDff;
--toasted-almond: #E88B50ff;
--yellow-almond: #F1BF9F;
--light-almond: #ed9863;
--platinum: #F0F2F1ff;
--charcoal-blue: #2D3F45ff;
--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins" , sans-serif;
  transition: all .2s linear;
}
a{
    text-decoration: none;
}
header .navbar{
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 4rem;
    padding: .5rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    z-index: 5;
   
}
.box-shadow{
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .nav-logo-txt{
    font-size: 1.7rem;
    color: var(--charcoal-blue);
    font-weight: 700;
}
header .nav-logo-txt span{
    color: var(--toasted-almond);
}
header .nav-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;   
}
header .navlist li{
    list-style: none;
}
header .nav-link-item{
    color: var(--charcoal-blue);
    font-size: 1.2rem;
    font-weight: 500;  
    border-radius: .3rem;
    padding: .4rem .5rem;

}
header .icon-link{
   color: var(--charcoal-blue);
   background-color: var(--platinum);
   
   width: 2.3rem;
   aspect-ratio: 1;
   border-radius: 50%;
   display: inline-block;
   text-align: center;
   line-height: 2.3rem;

   margin-left: 1rem;
}
header .navIcon i{
    font-size: 1.4rem;
}
header .icon-link:hover{
   transform: translateY(-8%);
}
header .nav-link-item:hover{
    color: var(--platinum);
   background-color: var(--toasted-almond);
}
/* Main part  */
main{
    margin-top: 4rem;
    background-color: var(--white);
}
.container-class{
     padding: 2rem 7%;
}
main .heroSection{
   
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}
main .heroSection::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.45);
}
main .hero-content{
  
    position: relative;
    z-index: 2;
    
}
main #hero-sec-h2{
     font-size:2.5rem;
     line-height: 1.4;
}
main .para-txt{
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 500;
    color: var(--charcoal-blue);
}
/* event section */

main .event-section{
    position: relative;
    padding-top: 4rem;
}/*
main .event-header{
    text-align: center;
}*/
main .h2-txt{
    font-size: 2rem;
    
}
main .events-list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main .event-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: .5rem .75rem;
    border-radius: 1rem;

    background: linear-gradient(90deg,hsla(40, 79%, 66%, 1)0%,hsla(23, 77%, 61%, 1) 100%);

}
main .event-meta{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    padding: .6rem .8rem;
    background-color: var(--charcoal-blue);
    color: var(--white);
    border-radius: 10%;
}
main .meta-txt{
    font-size: 1rem;
    font-weight: 600;
}
main #event-date{
    font-size: 1.2rem;
    font-weight: 600;
}
main .event-content{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    font-size: 1rem;
    font-weight: 500;
  
}
main .register{
    padding: .3rem .6rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--platinum);
    color: var(--charcoal-blue);
    border: none;
    border-radius: .5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
main .register:hover{
   background-color: var(--charcoal-blue);
   color: var(--platinum);
}
/*  society cards */

main .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 2rem;
}
main .society-cards{
     width: 15rem;
     box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,.08),
                0 0.625rem 1.875rem rgba(0,0,0,.12);
   
    border-radius: 1rem;
    overflow:hidden;
    background-color: var(--white);
}
main .society-cards img{
    width: 100%;
   height: 17rem;
    object-fit: fill;
    display: block;
}
main .card-info{
    padding: .7rem 1.1rem;
    text-align: center;
}
main .card-info h3{
    font-size: 1.2rem;

    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
    overflow: hidden;

}

main .card-info a{
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--light-almond);
}
main .card-info a:hover{
    text-decoration: underline;
}
/* media queries */

/* tablets */
@media ( max-width:1024px ){
   main .card-container{
        grid-template-columns: repeat(2,1fr);
    }
}
/* mobiles */
@media ( max-width:640px ){
    main .card-container{
        grid-template-columns: 1fr;
    }
}
main .society-cards:hover{
    transform: scale(1.03);
}